$momento: dia;

@mixin acomodar($direction, $align, $justify, $gap, $width, $height) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    width: $width;
    height: $height;
}

.ejercicio {

    @include acomodar(column, center, center, 10px, 100%, 400px);

    background-color: rgb(0, 106, 255);
}

#change {
    background-color: #eeee;
    padding: 10px;
    border-radius: 10px;
}

#boton {
    display: none;
    &:checked ~ .ejercicio {
        background-color: rgb(30, 13, 35);
        color: #eeee;
    }
    
}

