$main-color: #191919;
$light-color: #c8b1e2ee;
$primary: #7d32d2ee;

$main-font: "Roboto", sans-serif;
$transition: 3s;

$bg-img: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80');
$bg-img-segundo: url('https://images.unsplash.com/photo-1594063194864-298aae90f258?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');

$p-5: 50px;
$p-4: 40px;
$p-3: 30px;


$temporada: verano;

